@import "fancy-buttons";
@import "compass/css3/border-radius";

$anchorcolor: #CC0000;
$h1color: #CC0000;
<<<<<<< HEAD
$h2color: #363D41;
=======
$textcolor: #666666;
$button_bg: #A20000;
>>>>>>> merchantpage

body {
  font-family: arialMT;
  font-size: 12px;
  color: #666666;
  line-height: 16px;
}
a {
  color: $anchorcolor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  font-family: helvetica;
  color: $h1color;
}
strong {
  font-weight: bold;
  color: #666666;
}
.verticleprefix {
  padding: 8px;
}
.breadcrumb {
  font-size: 11px;
  padding: 15px 0;
  .separator {
    font-size: 10px;
  }
}
.block {
  margin: 15px 0;
}
button {
  text-transform: capitalize;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  @include fancy-button-size(18px, 5px, 0px);
  @include fancy-button-colors($button_bg);
  @include fancy-button-padding(10px, 12px);
  }

#merchantimg {
  padding: 0 8px 15px;
}
#merchantdetails {
  $bgtop: 12px;
  p {
    padding: 10px 0px 10px 50px;
  }
  .viewmap {
    background: url(../images/view-map.jpg) 5px $bgtop no-repeat;
  }
  .mobileno {
    background: url(../images/mobile.jpg) 12px $bgtop no-repeat;
    min-height: 60px;
    strong {
      color: #000000;
    }
    span {
      $sbgtop: 2px;
      $sbgleft: 4px;
      $spaddingl: 26px;

      float: left;
      display: block;
      padding: 5px 5px 5px 0;
      &.twittersmall {
        background: url(../images/twitter-small.jpg) $sbgleft $sbgtop no-repeat;
        padding-left: $spaddingl;
      }
      &.facebooksmall {
        background: url(../images/facebook-small.jpg) $sbgleft $sbgtop no-repeat;
        padding-left: $spaddingl;
      }
    }
  }
  .report {
    background: url(../images/report.jpg) 10px $bgtop no-repeat;
  }
  .claimlisting {
    background: url(../images/claim-listing.jpg) 8px $bgtop no-repeat;
  }
}

<<<<<<< HEAD

/*Sanjay*/
h2{color:$h2color;
font-size:18px;
font-family:helvetica;
margin:10px 0;
}

h2 span{font-weight:bold;}
p{padding:10px 0;}

blockquote{margin-left: 30px;
    overflow: hidden;
}

blockquote span {background-repeat: no-repeat;
    display: inline-block;
    height: 23px;
    width: 29px;}
blockquote p{   color: #993333;
    float: left;
    font-family: helvetica;
    font-size: 18px;
    width: 330px;}
span.quote-open {
    background-image: url("../images/quote-open.png");
    margin-right: 10px;
    float:left;
    }

span.quote-close {
    background-image: url("../images/quote-close.png");
    margin-left: 15px;
    margin-top: 27px;
} 

.maincontent, #tabs-1{padding:0 30px 30px;}

#howitworks{margin-top:20px;}
#howitworks div.firsttab{border-top:1px solid #E4E7E9;}
#howitworks div{ overflow: hidden;
  border-bottom:1px solid #E4E7E9;
  ul li{float: left;
    margin: 15px 10px 10px 0;
    padding: 5px;
  }
  li.first{    background-image: url("../images/howitworks-sl.png");
    color: #FFFFFF;
    font-size: 18px;
    height: 25px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
    border:none;
  }
  li.second{
    display: block;
    font-family: helvetica;
    font-size: 20px;
     width: 117px;
  }
  li.second span{    display: block;
    font-family: helvetica;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 7px;
  }
  li.third {width:99px;text-align: center;}
  li.four{width:245px;margin-right: 0;}
=======
#commentform {
  textarea {
    @include border-radius(5px 5px, 5px 5px);
    @include box-shadow();
    border: 1px solid #EBEBEB;
    width: 100%;
    min-height: 85px;
    padding: 5px;
    margin: 10px 0;
  }
  input.button {
    text-transform: capitalize;
    font-weight: bold;
    &:hover {
       cursor: pointer;
    }
      @include fancy-button-size(14px, 5px, 0px);
      @include fancy-button-colors($button_bg);
      @include fancy-button-padding(6px, 10px);
    }
}

.css-panes div.container_10 {
  display: block!important;
  padding: 0!important;
  .grid_4, .grid_10 {
    padding: 0px;
    margin: 0px;
  }
  .grid_4 {
    padding-left: 10px;
  }
}
#alertbox {
  @include border-radius(8px 8px, 8px 8px);
  background: #8DC7C2 url(../images/alertboxbg.png) 98% 5px no-repeat;
  padding: 5px 10px;
  p {
    font-size: 16px;
    padding-bottom: 5px;
    font-family: helvetica;
    color: #FFFFFF;
    span {
      font-weight: bold;
    }
  }
  input {
    border: 1px solid #54ADAA;
    @include border-radius(4px 4px, 4px 4px);
    width: 140px;
    padding: 5px;
    color: $textcolor;
  }
  input.button {
  $ibutton_bg: #39A1A0;

  width: 20px;
  text-transform: capitalize;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  @include fancy-button-size(14px, 4px, 1px);
  @include fancy-button-colors($ibutton_bg);
  @include fancy-button-padding(5px, 15px);
  }
}

.dealprice {
  ul {
    @include border-radius(5px 5px, 5px 5px);
    @include box-shadow();
    li {
      float: left;
    }
  }
>>>>>>> merchantpage
}
