!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/

    -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
    -# Remove this if you use the .htaccess
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/

    %title
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "author", :content => "" }/

    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/

    -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
    -# CSS: implied media="all"
    %link{ :href => "stylesheets/grid.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "stylesheets/style.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "stylesheets/tabs.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "stylesheets/nivo-slider.css?v=1", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "stylesheets/slidetheme/default.css?v=1", :media => "all", :rel => "stylesheet" }/

    -# All JavaScript at the bottom, except for Modernizr and Respond.
    -# Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
    %script{ :src => "js/modernizr.min.js" }
    %script{ :src => "js/respond.min.js" }

  %body
    .container_24
      %header
        .container_24
          .grid_24.breadcrumb
            %a{:href => "#"} home
            %span.separator >
            %a{:href => "#"} bangalore
            %span.separator >
            %a{:href => "#"} indiranagar
            %span.separator >
            %strong restaurant deals
        .container_24
          .grid_11
            %div.slider-wrapper.theme-default
              %div.ribbon
              %div#slider.nivoslider
                %a{:href => "#"}
                  %img{:src => "images/slideshow/toystory.jpg", :title => "title here"}
                %a{:href => "#"}
                  %img{:src => "images/slideshow/up.jpg", :title => "title here"}
                %a{:href => "#"}
                  %img{:src => "images/slideshow/walle.jpg", :title => "title here"}
                %a{:href => "#"}
                  %img{:src => "images/slideshow/neo.jpg", :title => "#htmlcaption"}
              %div#htmlcaption.nivo-html-caption
                %strong this is an example fo a html caption with
                %a{:href => "#"} anchor tag
          .grid_13
            %h1 Complete IT solutions for your personal computer. Pay Rs 299 for 1 year software technical support services worth Rs 1800.
            %p Deal posted on 10th November 2011
            %div#dealdetail
              %div.grid_9
                %div.dealprice
                  %ul
                    %li
                      Original Value
                      %br
                      %strong.red
                        %span.rupees Rs
                        1000
                    %li
                      Deal Price
                      %br
                      %strong.red
                        %span.rupees Rs
                        1000
                    %li.last
                      You Save
                      %br
                      %strong.red
                        %span.rupees Rs
                        1000

                %ul#merchantdetails
                  %li.hourglass
                    %p
                      Deal expires on
                      %strong 22 November 2011
                  %li.coupons
                    %p
                      Coupons remaining
                      %strong 25
                  %li.viewmapblack
                    %p
                      address of the merchant goes here
                      %br
                      %a{:href => "#"} view map
                  %li.report
                    %p
                      %a{:href => "#"}Report an error on this Deal

              %div.grid_4
                %a{:href => "#"}
                  %button Go To Deal
                %a{:href => "#"}
                  %img{:src => "images/snapdeal.jpg"}
                  View Merchant Page
                %a{:href => "#"}
                  %img{:src => "images/levis.jpg"}
                  View Brand Page

        .container_24
          .verticleprefix &nbsp;
          .grid_15
            %ul.css-tabs
              %li
                %a{:href => "#", :class => "current"} More info
              %li
                %a{:href => "#"} Other Locations
              %li
                %a{:href => "#"} Comments on this Deal
            .css-panes
              %div{:style => "display: block"}
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                %p Suspendisse enim. Pellentesque facilisis aliquam enim. Maecenas
              %div{:style => "display: none"}
                .grid_7
                  %p
                    Suspendisse enim. Pellentesque facilisis aliquam enim. Maecenas
                    %br
                    %a{:href => "#"} View Map
                .grid_7
                  %p
                    Suspendisse enim. Pellentesque facilisis aliquam enim. Maecenas
                    %br
                    %a{:href => "#"} View Map
              %div{:style => "display: none"}
                %h2
                  %strong Comments
                  on this Deal
                %p.userpic
                  %img{:src => "images/user.jpg"}
                  %strong Customer One
                  %br
                  %span Joined two months ago
                %p Suspendisse enim. Pellentesque facilisis aliquam enim. Maecenas
                %hr.dotted
                %form{:action => "#", :id => "commentform", :method => "POST"}
                  %textarea{:name => "comment"} write a comment..
                  %br
                  %input{:type => "submit", :value => "Comment", :class => "button"}
          .grid_8.prefix_1
            %div.block
              %h2
                %span Tags
                on Sangetha Electronice Ltd
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
              %a{:href => "#"} Restaurants in bangalore
              %span.pipe &#124;
            %div.block#alertbox
              %p
                Get
                %span Daily Deal Alerts
                by
                %br
                email for Bangalore
              %form{:action => "#", :method => "POST"}
                %input{:type => "textbox", :value => "enter email address", :name => "emailid"}
                %input{:type => "submit", :value => "Go", :name => "go", :class => "button"}
      %footer

    -#
      Javascript at the bottom for fast page loading
      Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    %script{ :src => "http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js" }
    %script{ :src => "javascripts/jquery.nivo.slider.js?v=1" }

    :javascript
      window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>");
      $(function() {
        // :first selector is optional if you have only one tabs on the page
        $(".css-tabs:first").tabs(".css-panes:first > div");
        $('#slider').nivoSlider();
      });

    -#  asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
    -#  change the UA-XXXXX-X to be your site's ID
    :javascript
      var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
