/*
Syntax error: Invalid CSS after "$h1color: #CC0000;": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 6 of /home/kc/homepage/sass/style.scss

1: /home/kc/homepage/sass/style.scss

Backtrace:
/home/kc/homepage/sass/style.scss:6
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:926:in `expected'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:872:in `expected'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:29:in `parse'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:327:in `_to_tree'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:138:in `block in compile'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/logger.rb:45:in `red'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:137:in `compile'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:117:in `compile_if_required'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:102:in `block (2 levels) in run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `each'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `block in run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:99:in `run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/inotify.rb:12:in `block in add_handler'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `call'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `block in watch'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `[]'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `callback!'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/event.rb:128:in `callback!'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `block in process'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `each'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `process'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:216:in `run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/inotify.rb:20:in `run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:86:in `perform'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/commands/base.rb:18:in `execute'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/commands/project_base.rb:19:in `execute'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/bin/compass:25:in `block in <top (required)>'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/bin/compass:39:in `call'
/home/kc/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.alpha.1/bin/compass:39:in `<top (required)>'
/home/kc/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/home/kc/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"$h1color: #CC0000;\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 6 of /home/kc/homepage/sass/style.scss\A \A 1: /home/kc/homepage/sass/style.scss"; }
