/* incase an inverted custom gradient isn't specified */
/* line 177, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1321341252') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* line 9, ../sass/style.scss */
body {
  font-family: arialMT;
  font-size: 12px;
  color: #666666;
  line-height: 16px;
}

/* line 15, ../sass/style.scss */
a {
  color: #cc0000;
  text-decoration: none;
}
/* line 18, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, ../sass/style.scss */
h1 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal;
  font-family: helvetica;
  color: #cc0000;
}

/* line 29, ../sass/style.scss */
strong {
  font-weight: bold;
  color: #666666;
}

/* line 33, ../sass/style.scss */
.verticleprefix {
  padding: 8px;
}

/* line 36, ../sass/style.scss */
.breadcrumb {
  font-size: 11px;
  padding: 15px 0;
}
/* line 39, ../sass/style.scss */
.breadcrumb .separator {
  font-size: 10px;
}

/* line 43, ../sass/style.scss */
.block {
  margin: 15px 0;
}

/* line 46, ../sass/style.scss */
button {
  text-transform: capitalize;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 0px;
  background-color: #a20000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4b4b), color-stop(10%, #ef0000), color-stop(50%, #930000), color-stop(50%, #830000), color-stop(100%, #b60000));
  background-image: -webkit-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -moz-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -o-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -ms-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  border-color: #550000;
  text-shadow: #220000 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 12px;
  border-width: 1px;
}
/* line 49, ../sass/style.scss */
button:hover {
  cursor: pointer;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: white;
}
/* line 31, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #930000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3c3c), color-stop(10%, #df0000), color-stop(50%, #830000), color-stop(50%, #740000), color-stop(100%, #a70000));
  background-image: -webkit-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -moz-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -o-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -ms-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  border-color: #460000;
  text-shadow: #130000 0px 1px 1px;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #830000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #830000), color-stop(30%, #8e0000), color-stop(50%, #790000), color-stop(50%, #6a0000), color-stop(100%, #ac0000));
  background-image: -webkit-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -moz-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -o-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -ms-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  border-color: #370000;
  text-shadow: #040000 0px -1px -1px;
  -webkit-box-shadow: #550000 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #550000 0 0.08em 0.2em 1px inset;
  box-shadow: #550000 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: white;
}

/* line 56, ../sass/style.scss */
#merchantimg {
  padding: 0 8px 15px;
}

/* line 61, ../sass/style.scss */
#merchantdetails p {
  padding: 10px 0px 10px 50px;
}
/* line 64, ../sass/style.scss */
#merchantdetails .viewmap {
  background: url(../images/view-map.jpg) 5px 12px no-repeat;
}
/* line 67, ../sass/style.scss */
#merchantdetails .mobileno {
  background: url(../images/mobile.jpg) 12px 12px no-repeat;
  min-height: 60px;
}
/* line 70, ../sass/style.scss */
#merchantdetails .mobileno strong {
  color: #000000;
}
/* line 73, ../sass/style.scss */
#merchantdetails .mobileno span {
  float: left;
  display: block;
  padding: 5px 5px 5px 0;
}
/* line 81, ../sass/style.scss */
#merchantdetails .mobileno span.twittersmall {
  background: url(../images/twitter-small.jpg) 4px 2px no-repeat;
  padding-left: 26px;
}
/* line 85, ../sass/style.scss */
#merchantdetails .mobileno span.facebooksmall {
  background: url(../images/facebook-small.jpg) 4px 2px no-repeat;
  padding-left: 26px;
}
/* line 91, ../sass/style.scss */
#merchantdetails .report {
  background: url(../images/report.jpg) 10px 12px no-repeat;
}
/* line 94, ../sass/style.scss */
#merchantdetails .claimlisting {
  background: url(../images/claim-listing.jpg) 8px 12px no-repeat;
}

/* line 100, ../sass/style.scss */
#commentform textarea {
  -webkit-border-radius: 5px 5px / 5px 5px;
  -moz-border-radius: 5px 5px / 5px 5px;
  -ms-border-radius: 5px 5px / 5px 5px;
  -o-border-radius: 5px 5px / 5px 5px;
  border-radius: 5px 5px / 5px 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  border: 1px solid #EBEBEB;
  width: 100%;
  min-height: 85px;
  padding: 5px;
  margin: 10px 0;
}
/* line 109, ../sass/style.scss */
#commentform input.button {
  text-transform: capitalize;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 0px;
  background-color: #a20000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4b4b), color-stop(10%, #ef0000), color-stop(50%, #930000), color-stop(50%, #830000), color-stop(100%, #b60000));
  background-image: -webkit-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -moz-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -o-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: -ms-linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  background-image: linear-gradient(#ff4b4b, #ef0000 10%, #930000 50%, #830000 50%, #b60000);
  border-color: #550000;
  text-shadow: #220000 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.318) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  padding: 6px 10px;
  border-width: 1px;
}
/* line 112, ../sass/style.scss */
#commentform input.button:hover {
  cursor: pointer;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#commentform input.button, #commentform input.button:visited {
  color: white;
}
/* line 31, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#commentform input.button:hover, #commentform input.button:focus {
  background-color: #930000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3c3c), color-stop(10%, #df0000), color-stop(50%, #830000), color-stop(50%, #740000), color-stop(100%, #a70000));
  background-image: -webkit-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -moz-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -o-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: -ms-linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  background-image: linear-gradient(#ff3c3c, #df0000 10%, #830000 50%, #740000 50%, #a70000);
  border-color: #460000;
  text-shadow: #130000 0px 1px 1px;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#commentform input.button:hover, #commentform input.button:hover:visited, #commentform input.button:focus, #commentform input.button:focus:visited {
  color: white;
}
/* line 36, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#commentform input.button:active {
  background-color: #830000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #830000), color-stop(30%, #8e0000), color-stop(50%, #790000), color-stop(50%, #6a0000), color-stop(100%, #ac0000));
  background-image: -webkit-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -moz-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -o-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: -ms-linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  background-image: linear-gradient(#830000, #8e0000 30%, #790000 50%, #6a0000 50%, #ac0000);
  border-color: #370000;
  text-shadow: #040000 0px -1px -1px;
  -webkit-box-shadow: #550000 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #550000 0 0.08em 0.2em 1px inset;
  box-shadow: #550000 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#commentform input.button:active, #commentform input.button:active:visited {
  color: white;
}

/* line 121, ../sass/style.scss */
.css-panes div.container_10 {
  display: block!important;
  padding: 0!important;
}
/* line 124, ../sass/style.scss */
.css-panes div.container_10 .grid_4, .css-panes div.container_10 .grid_10 {
  padding: 0px;
  margin: 0px;
}
/* line 128, ../sass/style.scss */
.css-panes div.container_10 .grid_4 {
  padding-left: 10px;
}

/* line 132, ../sass/style.scss */
#alertbox {
  -webkit-border-radius: 8px 8px / 8px 8px;
  -moz-border-radius: 8px 8px / 8px 8px;
  -ms-border-radius: 8px 8px / 8px 8px;
  -o-border-radius: 8px 8px / 8px 8px;
  border-radius: 8px 8px / 8px 8px;
  background: #8dc7c2 url(../images/alertboxbg.png) 98% 5px no-repeat;
  padding: 5px 10px;
}
/* line 136, ../sass/style.scss */
#alertbox p {
  font-size: 16px;
  padding-bottom: 5px;
  font-family: helvetica;
  color: #FFFFFF;
}
/* line 141, ../sass/style.scss */
#alertbox p span {
  font-weight: bold;
}
/* line 145, ../sass/style.scss */
#alertbox input {
  border: 1px solid #54ADAA;
  -webkit-border-radius: 4px 4px / 4px 4px;
  -moz-border-radius: 4px 4px / 4px 4px;
  -ms-border-radius: 4px 4px / 4px 4px;
  -o-border-radius: 4px 4px / 4px 4px;
  border-radius: 4px 4px / 4px 4px;
  width: 140px;
  padding: 5px;
  color: #666666;
}
/* line 152, ../sass/style.scss */
#alertbox input.button {
  width: 20px;
  text-transform: capitalize;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #0dcdcb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4dfde), color-stop(10%, #60c7c6), color-stop(50%, #359695), color-stop(50%, #318a8a), color-stop(100%, #3eb0af));
  background-image: -webkit-linear-gradient(#a4dfde, #60c7c6 10%, #359695 50%, #318a8a 50%, #3eb0af);
  background-image: -moz-linear-gradient(#a4dfde, #60c7c6 10%, #359695 50%, #318a8a 50%, #3eb0af);
  background-image: -o-linear-gradient(#a4dfde, #60c7c6 10%, #359695 50%, #318a8a 50%, #3eb0af);
  background-image: -ms-linear-gradient(#a4dfde, #60c7c6 10%, #359695 50%, #318a8a 50%, #3eb0af);
  background-image: linear-gradient(#a4dfde, #60c7c6 10%, #359695 50%, #318a8a 50%, #3eb0af);
  border-color: #256968;
  text-shadow: #065554 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.427) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.427) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.427) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px 15px;
  border-width: 1px;
}
/* line 158, ../sass/style.scss */
#alertbox input.button:hover {
  cursor: pointer;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#alertbox input.button, #alertbox input.button:visited {
  color: white;
}
/* line 31, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#alertbox input.button:hover, #alertbox input.button:focus {
  background-color: #0cbebd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #98dbda), color-stop(10%, #55c3c2), color-stop(50%, #318a8a), color-stop(50%, #2d7f7e), color-stop(100%, #3aa5a4));
  background-image: -webkit-linear-gradient(#98dbda, #55c3c2 10%, #318a8a 50%, #2d7f7e 50%, #3aa5a4);
  background-image: -moz-linear-gradient(#98dbda, #55c3c2 10%, #318a8a 50%, #2d7f7e 50%, #3aa5a4);
  background-image: -o-linear-gradient(#98dbda, #55c3c2 10%, #318a8a 50%, #2d7f7e 50%, #3aa5a4);
  background-image: -ms-linear-gradient(#98dbda, #55c3c2 10%, #318a8a 50%, #2d7f7e 50%, #3aa5a4);
  background-image: linear-gradient(#98dbda, #55c3c2 10%, #318a8a 50%, #2d7f7e 50%, #3aa5a4);
  border-color: #215d5d;
  text-shadow: #054746 0px 1px 1px;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#alertbox input.button:hover, #alertbox input.button:hover:visited, #alertbox input.button:focus, #alertbox input.button:focus:visited {
  color: white;
}
/* line 36, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#alertbox input.button:active {
  background-color: #0cb0ae;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #318a8a), color-stop(30%, #349291), color-stop(50%, #2e8382), color-stop(50%, #2a7877), color-stop(100%, #3ca9a7));
  background-image: -webkit-linear-gradient(#318a8a, #349291 30%, #2e8382 50%, #2a7877 50%, #3ca9a7);
  background-image: -moz-linear-gradient(#318a8a, #349291 30%, #2e8382 50%, #2a7877 50%, #3ca9a7);
  background-image: -o-linear-gradient(#318a8a, #349291 30%, #2e8382 50%, #2a7877 50%, #3ca9a7);
  background-image: -ms-linear-gradient(#318a8a, #349291 30%, #2e8382 50%, #2a7877 50%, #3ca9a7);
  background-image: linear-gradient(#318a8a, #349291 30%, #2e8382 50%, #2a7877 50%, #3ca9a7);
  border-color: #1d5251;
  text-shadow: #043838 0px -1px -1px;
  -webkit-box-shadow: #256968 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #256968 0 0.08em 0.2em 1px inset;
  box-shadow: #256968 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../.rvm/gems/ruby-1.9.2-p290/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
#alertbox input.button:active, #alertbox input.button:active:visited {
  color: white;
}

/* line 168, ../sass/style.scss */
.dealprice ul {
  -webkit-border-radius: 5px 5px / 5px 5px;
  -moz-border-radius: 5px 5px / 5px 5px;
  -ms-border-radius: 5px 5px / 5px 5px;
  -o-border-radius: 5px 5px / 5px 5px;
  border-radius: 5px 5px / 5px 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 171, ../sass/style.scss */
.dealprice ul li {
  float: left;
}
