/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 561 of D:/homepage/sass/style.scss

Backtrace:
D:/homepage/sass/style.scss:561
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:926:in `expected'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:872:in `expected'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:867:in `tok!'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:378:in `block'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:371:in `ruleset'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:395:in `block_child'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:388:in `block_contents'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:59:in `stylesheet'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/scss/parser.rb:28:in `parse'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:327:in `_to_tree'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:138:in `block in compile'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/logger.rb:45:in `red'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:137:in `compile'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:117:in `compile_if_required'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:102:in `block (2 levels) in run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `each'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `block in run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:99:in `run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:142:in `recompile'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:86:in `perform'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/base.rb:18:in `execute'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/commands/project_base.rb:19:in `execute'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:25:in `block in <top (required)>'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:39:in `call'
C:/RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.1/bin/compass:39:in `<top (required)>'
C:/RailsInstaller/Ruby1.9.2/bin/compass:19:in `load'
C:/RailsInstaller/Ruby1.9.2/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 561 of D:/homepage/sass/style.scss"; }
